<div class="container">
  <h1>About Me Pages</h1>
  <p>This website is about blogging for devs in Tech</p>
  <%= link_to "Home", home_path, class: "btn btn-secondary" %>
  <%= link_to "Blog posts", posts_path, class: "btn btn-primary" %>
</div>